<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h2>Users (Пользователи)</h2>
<table th:border="1">
    <tr>
        <th>Username</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Age</th>
        <th>Email</th>
        <th>Roles</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr th:each = "user: ${users}">
        <td th:text="${user.username}">Username</td>
        <td th:text="${user.name}">Name</td>
        <td th:text="${user.surname}">Surname</td>
        <td th:text="${user.age}">Age</td>
        <td th:text="${user.email}">Email</td>
        <td th:text="${user.getAllRolesToString()}">Roles</td>
        <td>
            <form th:action="@{/admin/user-update/{id}(id=${user.id})}">
                <button>Edit</button>
            </form>
        </td>
        <td>
            <form th:action="@{/admin/user-delete/{id}(id=${user.id})}">
                <button>Delete</button>
            </form>
        </td>
    </tr>
</table>
<br/>
<hr/>
<form action="/admin/new">
    <button>Create new user</button>
</form>
<br/>
<br/>
<form th:action="@{/logout}" method="post">
    <button type="submit">Sign Out</button>
</form>
</body>
</html>